{% extends 'base.html.twig' %}
{% block body %}
    <ul class="list-group text-center">
        <li class="list-group-item">Name : {{ name }}</li>
        <li class="list-group-item">Email: {{ email }}</li>
        <li class="list-group-item"> Phone Number: {{ phone_number }}</li>
    </ul>
    <h3></h3>
{% endblock %}