<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body>
<main class="container">
    <header class="jumbotron text-center">
        <h1>My First symfony site.</h1>
    </header>

    {% if app.request.hasPreviousSession %}
        {% for message in app.flashes('message') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{{ path('home_page') }}"> Home</a>
        </li>
        {% block breadcrumb %}
        {% endblock %}
    </ol>

    {% block body %}{% endblock %}
    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</main>

</body>
</html>
